@use "../Variables" as v;

.frontpage section:first-of-type {
    padding-bottom: 3rem;
}

.frontpage section:not(:first-of-type) {
    padding: 3rem 0;
}

.radial-glow {
    position: absolute;
    top: 0;
    transform-origin: top center;
    overflow: hidden;

    &.left {
        width: 600px;
        height: 600px;
        transform: translate(-350px, -100px);
        background-image: radial-gradient(circle, hsla(v.$elden-ring-color-transparent), transparent 50%);
    }

    &.right {
        width: 400px;
        height: 400px;
        transform: translate(200px, 60px);
        background-image: radial-gradient(circle, hsla(v.$elden-ring-color-transparent), transparent 50%);
    }
}

.hero {
    position: relative;
    width: 100%;
    height: calc(500px + 3rem);

    #tsparticles,
    .hero-img {
        position: absolute;
        left: 50%;
        width: 500px;
        height: 500px;
        transform: translate(-50%, 0);
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-foreground {
        position: absolute;
        inset: 0;
    }

    .hero-text {
        margin: 8.5rem auto 0 auto;
        max-width: 36rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h1 {
            text-align: center;
            font-size: 3.75rem;
            line-height: 1;
            font-weight: 700;
            text-decoration: none;
            font-family: "mantiniaregular";
        }

        >p {
            text-align: center;
            max-width: 32rem;
            color: hsl(v.$accent-foreground);
            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: 400;

            >a {
                color: v.$gold;

                &:visited {
                    color: v.$gold;
                }
            }
        }

        >.action-btn {
            padding: 1.5rem 1.5rem;
            font-size: 1.25rem;
        }
    }
}

.cardscrollreveal-section {
    width: 100%;

    .cardscrollreveal-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-wrapper {
        position: relative;
        width: 100%;
        height: 600px;
        background-color: hsl(v.$accent);
        border: 1px solid hsl(v.$border-color);
        border-radius: v.$border-radius;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .3);

        .card-border-top {
            position: absolute;
            top: -20px;
            bottom: unset;
            width: 100%;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 6;
        }

        .card-border-bottom {
            position: absolute;
            top: unset;
            bottom: -20px;
            width: 100%;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 6;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: none;
            object-position: top left;
            border-radius: v.$border-radius;
        }

        .card-text-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 500px;
            height: 100%;
            padding: 0 2rem 0 2rem;
            border-radius: v.$border-radius;
            background-image: linear-gradient(to left, rgba(0, 0, 0, .8), rgba(23, 23, 23, .8) 90%, transparent);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;

            h2 {
                letter-spacing: -.03em;
                font-size: 48px;
                font-weight: 600;
                line-height: 1.1;
                color: v.$gold;
            }

            p {
                max-width: 400px;
                margin-top: 30px;
                line-height: 1.5;
                font-size: 19px;
                color: hsla(v.$elden-ring-color);
            }
        }
    }

    .card-above {
        position: relative;
        background-image: url("nettunnelbg.png");
        background-position: 50%;
        background-size: cover;
        z-index: 2;
    }

    .card-below {
        position: sticky;
        bottom: calc(((100vh - 700px) / 2));
        margin-top: 6rem;
        transform: scale(0.80);
        background-image: url("onofframpsbg.png");
        background-position: 50%;
        background-size: cover;
        z-index: 1;
        animation: scale-up 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

.cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        color: v.$gold;
        font-size: 3rem;
        text-align: center;
        margin: 3rem auto 2rem auto;
    }
}

.contact-section {
    position: relative;

    .header-gradient-bg {
        position: absolute;
        left: 50%;
        width: 100%;
        height: 100%;
        background: linear-gradient(312.23deg,
                hsl(v.$elden-ring-color) -3.97%,
                rgba(251, 131, 160, 0) 125.5%);
        opacity: .3;
        filter: blur(50px);
        transform: translate(-50%, 0);
    }

    h2 {
        color: v.$gold;
        font-size: 3rem;
        text-align: center;
        margin: 3rem auto 2rem auto;
    }

    p {
        max-width: 420px;
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 400;
    }

    .contact-section-content {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.action-btn {
            padding: 1.5rem 1.5rem;
            font-size: 1.25rem;
            max-width: fit-content;
        }
    }
}

.bottom-section {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .bottom-section-content {
        width: 100%;
        display: grid;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .bottom-section-text {
            text-align: center;
            margin-bottom: 1.5rem;

            .headtext {
                margin: 3rem auto 2rem auto;
                color: v.$gold;
                font-weight: 700;
                letter-spacing: -0.05em;
                font-size: 3rem;
                line-height: 1;
            }

            .subtext {
                text-align: left;
                color: white;
                margin-left: auto;
                margin-right: auto;
                max-width: 700px;
                font-size: 1.125rem;
                line-height: 2rem;
                font-weight: 400;
            }
        }

        .bottom-section-link {
            display: flex;
            gap: .5rem;
            flex-direction: row;
            justify-content: center;

            >.action-btn {
                padding: 1.5rem 1.5rem;
                font-size: 1.25rem;
                max-width: fit-content;
            }
        }
    }
}

@media only screen and (max-width: 849px) {
    .hero .hero-text {
        >h1 {
            font-size: 3rem;
            line-height: 1;
        }
    }

    .cardscrollreveal-section {
        margin: 0 auto;

        .card-wrapper {
            max-width: 400px;
            max-height: 400px;

            .card-border-top {
                top: -8px;
            }

            .card-border-bottom {
                bottom: -30px;
            }

            .card-text-wrapper {
                background-image: none;

                h2 {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .cards-section {
        h2 {
            font-size: 2rem;
            padding: 0 1rem;
        }
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 2rem;
            padding: 0 1rem;
        }

        .contact-section-content {
            max-width: 400px;
            flex-direction: column;
            gap: 2rem;
            //padding: 0 1.5rem;
        }
    }

    .bottom-section .bottom-section-content {
        .bottom-section-text {
            .headtext {
                font-size: 2rem;
            }

            .subtext {
                max-width: 400px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero .hero-text {
        >h1 {
            font-size: 1.85rem;
            line-height: 1;
        }

        >p {
            // font-size: 1rem;
            // line-height: 1.75rem;
            // font-weight: 400;

            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: 400;
        }

        >.action-btn {
            padding: 1.25rem 1.25rem;
            font-size: 1rem;
        }
    }

    .contact-section .contact-section-content {
        padding: 0 1.5rem;
    }
}