@use "../Variables" as v;

.impressum {
    .max-container {
        max-width: v.$max-content-width;
        width: 100%;
        min-width: v.$min-page-width;
    }

    h1 {
        font-size: 3rem;
    }

    .impressum-content {
        margin-top: 2rem;

        p {
            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: 849px) {
    .impressum h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .impressum .impressum-content p {
        font-size: 1rem;
        line-height: 1.85rem;
    }
}