@use "../Variables" as v;

.impressum {
    .max-container {
        max-width: v.$max-content-width;
        width: 100%;
        min-width: v.$min-page-width;
    }

    .impressum-content {
        margin-top: 1rem;
        margin-bottom: 1rem;

        p {
            line-height: 2rem;
        }
    }

    .button svg {
        margin-right: .5rem;
    }
}