@use "../Variables" as v;

.radialhovercards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    &:hover > .radialhovercard::after {
        opacity: 1;
    }

    .radialhovercard {
        position: relative;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: column;
        background-color: hsl(v.$border-color);
        border-radius: v.$border-radius;

        &:hover::before {
            opacity: 1;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            border-radius: inherit;
            opacity: 0;
            transition: opacity 500ms;
        }

        &::before {
            background: radial-gradient(
                800px circle at var(--mouse-x) var(--mouse-y), 
                rgba(255, 255, 255, 0.06),
                transparent 40%
            );
            z-index: 3;
        }

        &::after {  
            background: radial-gradient(
                600px circle at var(--mouse-x) var(--mouse-y), 
                rgba(255, 255, 255, 0.4),
                transparent 40%
            );
            z-index: 1;
        }

        .radialhovercard-content {
            position: absolute;
            inset: 1px;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            gap: 2rem;
            background-color: hsl(v.$accent);
            border-radius: inherit;
            z-index: 2;
        }

        /* app specific */

        .radialhovercard-img {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            width: 60px;
            height: 60px;
        }
    }
}

@media only screen and (max-width: 849px) {
    .radialhovercards {
        flex-direction: column;
        align-items: center;
    }
}