<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <main class="status404">
        <img class="hero-img" src="/img/herobg.svg" alt="elden-planner-logo-outline" />
        <div class="hero-text">
            <h1 class="gold-text-background">404 Not Found</h1>
            <p>
                The resource you have requested does not exist.
            </p>
        </div>
    </main>
</body>
</html>