<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eldenplanner API</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <main class="frontpage">
        <img class="hero-img" src="/img/herobg.svg" alt="elden-planner-logo-outline" />
        <div class="hero-text">
            <h1 class="gold-text-background">ELDENPLANNER API</h1>
            <p>
                API of <a href="https://eldenplanner.onrender.com">Eldenplanner</a>: a Character Build Planner for the game Elden Ring.
            </p>
        </div>
    </main>
</body>
</html>