@use "src/Variables" as v;

.main-userpage {
    .infosection {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .leftside {
        align-self: center;

        img {
            display: block;
            border-radius: 50%;
        }
    }

    .rightside {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .metric-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
        gap: 1rem;
    }

    .metric-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
        gap: 1rem;
    }

    .metric-card {
        min-width: 164px;
        padding: 1rem 0;
        border: 1px solid hsl(v.$border-color);
        border-radius: v.$border-radius;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: hsl(v.$muted-foreground);
    }

    .actionsection {
        display: flex;
        flex-direction: column;
    }

    .tablesection {
        margin-top: 24px;
        width: 100%;

        .section-title {
            display: flex;
            margin-bottom: 24px;

            h2 {
                margin-right: 32px;
            }
        }
    }
}

.form__edituser {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1px solid hsl(v.$border-color);
    border-radius: v.$border-radius;

    .form__edituser--buttons {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .button-wrapper {
        display: flex;
        gap: .5rem;
    }
}

@media only screen and (min-width: 850px) {
    .main-userpage {
        .infosection {
            flex-direction: row;
            gap: 2rem;
        }

        .leftside {
            align-self: unset;
        }

        .actionsection {
            align-self: flex-start;
        }
    }
}

@media only screen and (max-width: 500px) {
    .main-userpage .tablesection .section-title {
        flex-direction: column;

        h2 {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    .form__edituser {
        .form__edituser--buttons {
            flex-direction: column;
            gap: .5rem;
        }

        .button-wrapper {
            flex-direction: column;
        }
    }
}