@use "../../Variables" as v;

.Charplanner {
    min-width: v.$min-page-width;
    background-color: v.$default-background-color;
    color: v.$default-font-color;
    font-family: v.$default-font-family;
    font-size: v.$default-font-size;

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .WeaponsSubSection, .TalismanSubSection, .ArmorSubSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .DetailSubSection {
        line-height: 1.5;
        padding: v.$FormPadding;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .DefenseSubSection, .ResistanceSubSection {
        line-height: 1.5;
        padding: v.$FormPadding;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.NameSubSection .Row {
    display: flex;

    .customselect {
        flex-grow: 1;
    }

    .checkbox {
        padding-top: v.$FormPaddingTop;
        padding-bottom: v.$FormPaddingBottom;
        padding-right: v.$FormPaddingRight;
    }
}

@media only screen and (min-width: 900px) {
    .Charplanner {
        min-height: 1100px;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 3fr 1px 4fr 1px 2fr;
        justify-items: center;

        .CharacterSection {
            max-width: 400px;
        }

        .EquipmentSection {
            max-width: 500px;
        }

        .InfoSection {
            max-width: 300px;
        }
    }
}


/* AttributesSubSection */

.AttributesSubSection {
    .RuneLevel {
        padding-left: v.$FormPaddingLeft;
        padding-right: v.$FormPaddingRight;
        padding-top: .2em;
        padding-bottom: .2em;
        display: grid;
        grid-template-columns: 1fr 5fr;

        span:last-of-type {
            text-align: center;
        }
    }


    .AttributeRow {
        padding-left: v.$FormPaddingLeft;
        padding-right: v.$FormPaddingRight;
        padding-top: .2em;
        padding-bottom: .2em;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
    
        &:nth-of-type(2) {
            padding-top: .8em;
            padding-bottom: .8em;
            color: v.$default-label-font-color;
        }
        
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        /* Firefox */
        input[type=text] {
            margin: auto;
            -moz-appearance: textfield;
            appearance: textfield;
            text-align: center;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background-color: inherit;
            width: 50px;
            border-color: v.$default-focus-label-font-color;
            border-radius: 5px;
            padding: .2em;
            outline: none;
        }
    
        span:not(:first-of-type) {
            text-align: center;
        }
    
        span:last-of-type {
            display: flex;
            justify-content: space-evenly;
        }
    
        button {
            display: flex;
            align-items: center;
            background-color: inherit;
            border: none;
            color: v.$default-font-color;
            transform: scale(2);
    
            &:focus {
                background-color: v.$default-focus-button-background-color;
                border-radius: 50%;
            }
        }
    }

    .RuneCost div {
        padding-left: v.$FormPaddingLeft;
        padding-right: v.$FormPaddingRight;
        padding-top: .7em;
        padding-bottom: .7em;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

        span:first-of-type {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        span:last-of-type {
            grid-column-start: 3;
            grid-column-end: 6;
        }
    }
}


.weaponslot {
    .weaponslot-details {
        padding-left: .7em;
        padding-right: .7em;
    }

    .upgrade-affinity-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: .25rem;
    }
}


/* ARDisplay */

.ARDisplay {
    width: 100%;
    position: relative;
    padding-bottom: v.$FormPaddingBottom;
    padding-left: v.$FormPaddingLeft;
    padding-right: v.$FormPaddingRight;
    font-size: v.$font-size-small;
    color: v.$default-label-font-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .redText {
        div:not(.Tooltip) {
            color: #f44336;
        }

        .Tooltip {
            background-color: #f44336;
        }
    }

    .Tooltip {
        display: none;
        position: absolute;
        top: 20px;
        left: 0px;
        right: 0px;
        z-index: 3;
        background-color: v.$default-focus-label-font-color;
        padding: 10px;
        font-size: 1rem;
        color: black;
        border-radius: 2px;
        line-height: 80%;
        white-space: pre-wrap;
    }

    div:hover + .Tooltip {
        display: block;
    }
};

.Invisible {
    opacity: 0;
}


/* Charplanner__actionscontainer */

.Charplanner__actionscontainer {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: end;
    align-items: center;
}