/* General */
$accent: 240 6% 13%; // bg for hover etc.
$accent2: 228 7% 15%; // bg for hover etc.
$accent3: 227 6% 30%; // bg for hover etc.
$accent-foreground: 0 0% 98%; // text on accent, text on foreground primary
$muted-foreground: 240 5% 64.9%; // text on foreground secondary
$hero-muted-foreground: 240 5% 80%; // text on foreground secondary
$foreground: 240 6% 13%; // bg
$background: 230 12% 10%; // bg
$border-color: 55.714 100% 97% / 0.1;
$border-radius: .5rem;
$gold: #efd159;
$elden-ring-color: 46.6 39.13% 68.43% / 1;
$elden-ring-color-transparent: 46.6 39.13% 68.43% / 0.3;
$orange: 234 178 84;


$input-padding-top: .5rem;
$input-padding-bottom: .5rem;
$input-padding-left: .75rem;
$input-padding-right: .75rem;
$input-padding: $input-padding-top $input-padding-right $input-padding-bottom $input-padding-left;

$err-background-color: 0 91% 71%;
$err-color: 0 100% 14%;
$succ-background-color: 158 64% 52%;
$succ-color: 158 100% 10%;


$primary-nav-height: 76px;
$primary-nav-logo-height: 48px;

$mobile-page-padding: 1.5rem;

$max-content-width: 1080px;
$min-page-width: calc(2 * $mobile-page-padding + 290px);
$hero-img-width: 500px;
$hero-img-height: 500px;
$mobile-hero-img-width: 380px;
$mobile-hero-img-height: 380px;


/* Table Variables */

$Table-bgColor: #FFF;
$Table-color: rgb(23 24 29);
$Table-inactive-bgColor: gray;


/* customselect Variables */

$FormPaddingTop: 1.3rem;
$FormPaddingRight: .7rem;
$FormPaddingBottom: .4rem;
$FormPaddingLeft: .7rem;
$FormPadding: $FormPaddingTop $FormPaddingRight $FormPaddingBottom $FormPaddingLeft;

$InputHeight: 15px;
$InputPaddingTop: 1rem;
$InputPaddingBottom: 1rem;
$InputPaddingLeft: .5rem;
$InputPaddingRight: .5rem;
$InputPadding: $InputPaddingTop $InputPaddingRight $InputPaddingBottom $InputPaddingLeft;
$InputContainerGap: .5rem;
$OptionPadding: .5rem 1rem;
$ddBtnWidth: 21px;

$font-size-normal: 1rem;
$font-size-small: 0.8rem;


$default-font-color: hsla($accent-foreground);
$default-font-size: $font-size-normal;
$default-font-family: inherit;
$default-background-color: hsla($background); // hsla(40, 6.81%, 17.255%, 1);
$default-border-style: none none solid none;
$default-border-width: 1px;
$default-border-color: hsla($border-color); //gray;
$default-border-radius: 0px;
$default-label-font-color: hsla($muted-foreground); //gray;
$default-label-font-size: $font-size-normal;
$default-label-background-color: transparent;
$default-label-y-offset: 0px;
$default-label-x-offset: 0px;
$default-label-cursor: text;
$default-option-font-color: hsla($accent-foreground);
$default-option-background-color: hsla($foreground);

$default-hover-font-color: hsla($accent-foreground);
$default-hover-label-font-color: hsla($accent-foreground);
$default-hover-border-color: hsla($accent-foreground);

$default-focus-border-style: none none solid none;
$default-focus-border-width: 1px;
$default-focus-border-color: hsla(46.6, 39.13%, 68.43%, 1);
$default-focus-border-radius: 0px;
$default-focus-label-font-color: hsla(46.6, 39.13%, 68.43%, 1);
$default-focus-label-font-size: $font-size-small;
$default-focus-label-y-offset: -22px;
$default-focus-label-x-offset: 0px;
$default-focus-label-cursor: default;
$default-focus-button-background-color: hsla($accent2);


@keyframes ripple-effect {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(10);
        opacity: 0.375;
    }

    100% {
        transform: scale(35);
        opacity: 0;
    }
}

@keyframes border_left_to_right_anim {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes scale-up {
    to {
        transform: scale(1);
    }
}