@use "./Variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Rubik:wght@400;500;700&display=swap');

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll;
}

body {
    position: relative;
    background-color: v.$default-background-color;
    color: white;
    font-family: "inter",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main, header {
    width: 100%;
    max-width: 1080px;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    z-index: 50;
}

button {
    background: transparent;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

textarea {
    resize: none;
}

.divider-1 {
    height: 0.25rem;
}

.divider-2 {
    height: 0.5rem;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
    display: contents;
}

.table {
    font-size: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 3fr 3fr 1fr;
    color: v.$Table-color;
    gap: 0.1em;
}

.table--users {
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 3fr 3fr 1fr;
}

.table--builds {
    grid-template-columns: repeat(6, 1fr);
}

.table__button {
    padding: 0.25em;
    font-size: 1.5rem;
    color: v.$Table-color;
}

.table__thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table__th,
.table__cell {
    background-color: v.$Table-bgColor;
    text-align: left;
    border: 1px solid v.$Table-color;
    padding: 0.5em;
}

.table--users .table__cell:last-child {
    display: grid;
    place-content: center;
}

.table__cell--inactive {
    background-color: v.$Table-inactive-bgColor;
}


/* || BUTTONS - GENERAL */

.btn {
    padding: 1.25ch 2.5ch;
    color: rgb(234	178	84);
    border: 1px solid rgb(234	178	84);
    border-radius: .5ch;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: lighter;
    position: relative;
    transition: filter .35s, transform .35s, opacity .35s;
    opacity: .9;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(125%);
    opacity: 1;
}

.btn:active {
    transition: transform .1s;
    transform: scale(.95);
}

.btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(190.82% 190.82% at 50% 100%, rgba(254, 173, 15, 1) 0%, rgba(168, 112, 64, 0.62) 18.09%);
    opacity: .2;
    filter: blur(2px);
}

.button {
    height: 2.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.75rem;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: hsl(v.$dark-muted-foreground);
    background-color: hsl(v.$dark-background);
    border-color: hsl(v.$dark-border-color);
    border-width: 1px;
    border-radius: calc(v.$border-radius - 2px);
    cursor: pointer;
    transition-property: color, background-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15;

    &:hover {
        color: hsl(v.$dark-accent-foreground);
        background-color: hsl(v.$dark-accent);
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
        opacity: .5;
    }
}


/* Signup */

.form--signup,
.form--login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.errmsg {
    background-color: transparent;
    color: red;
}

.succmsg {
    background-color: transparent;
    color: green;
}


/* UserPage */
.infobuildswrapper {
    display: flex;
}

.table--userbuilds {
    grid-template-columns: repeat(5, 1fr);
}


/* builds */
.table--filter-text {
    border-width: 1px;
    border-radius: 0.25rem;
    width: 9rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.table--filter-number-wrapper {
    display: flex;
    margin-left: 0.5rem;
}

.table--filter-number {
    border-width: 1px;
    border-radius: 0.25rem;
    width: 6rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.table--pagination {
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    input {
        border-width: 1px;
        border-radius: 0.25rem;
        padding: 0.25rem;
        width: 4rem;
    }
}