@use "./Variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Rubik:wght@400;500;700&display=swap');

@font-face {
    font-family: "mantiniaregular";
    src: url("/mantinia_regular-webfont.woff2") format('woff2'),
        url("/mantinia_regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}

input {
    font-size: 16px;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: hsl(v.$accent-foreground);
    background-color: hsl(v.$background);
    border-color: hsl(v.$border-color);
    border-radius: calc(v.$border-radius - 2px);
    transition-property: color, background-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15;

    &:hover {
        background-color: hsl(v.$accent);
    }

    &::placeholder {
        color: hsl(v.$muted-foreground);
    }
}

select {
    padding: 0.25rem 0.75rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: hsl(v.$accent-foreground);
    background-color: hsl(v.$background);
    border: 1px solid hsl(v.$border-color);
    border-radius: calc(v.$border-radius - 2px);
    transition-property: color, background-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15;

    &:hover {
        background-color: hsl(v.$accent);
    }
}

th,
td {
    display: inline;
}

body {
    height: 100vh;
    position: relative;
    background-color: hsl(v.$background);
    color: white;
    font-weight: 300;
    font-family: "inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main,
header {
    width: 100%;
    min-width: v.$min-page-width;
    max-width: v.$max-content-width;
}

main {
    margin-top: calc(v.$primary-nav-height + 2rem);
    padding: 0 v.$mobile-page-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

button {
    border: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
}

textarea {
    resize: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: hsl(v.$accent-foreground);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.full {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.text-right {
    text-align: right;
}

.text-sm {
    font-size: v.$font-size-small;
}

.horizontal-divider {
    height: 1px;
    background: linear-gradient(90deg, transparent, hsl(v.$border-color) 15%, hsl(v.$border-color) 85%, transparent);
}

.vertical-divider {
    width: 1px;
    background: linear-gradient(transparent, hsl(v.$border-color) 15%, hsl(v.$border-color) 85%, transparent);
}

.v-divider-1 {
    width: 0.25rem;
}

.v-divider-2 {
    width: 0.5rem;
}

.v-divider-4 {
    width: 1rem;
}

.divider-1 {
    height: 0.25rem;
}

.divider-2 {
    height: 0.5rem;
}

.divider-4 {
    height: 1rem;
}

.sm-alert {
    /* inspired by: https://daisyui.com/components/alert/ */
    //margin: 0 auto;
    padding: v.$input-padding;
    //width: fit-content;
    border-width: 1px;
    border-radius: calc(v.$border-radius - 2px);

    display: flex;
    align-content: flex-start;
    align-items: center;
    gap: v.$input-padding-left;

    svg {
        stroke: currentColor;
        height: 1.2rem;
        width: 1.2rem;
        flex-shrink: 0;
    }
}

.errmsg {
    color: hsl(v.$err-color);
    border-color: hsl(v.$err-background-color);
    background-color: hsl(v.$err-background-color);
}

.errmsg-input {
    color: hsl(v.$err-background-color);
}

.succmsg {
    color: hsl(v.$succ-color);
    border-color: hsl(v.$succ-background-color);
    background-color: hsl(v.$succ-background-color);
}

.focused {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: #6366F1 !important;
}

.errborder {
    border-color: hsl(v.$err-background-color);
}

.input-wrapper {
    display: grid;
    gap: .25rem;

    label {
        line-height: 1;
        font-size: .875rem;
        font-weight: 500;
    }

    input,
    textarea {
        font-size: 16px;
        line-height: 1.25rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: .75rem;
        padding-right: .75rem;
        background-color: transparent;
        border-color: hsl(v.$border-color);
        border-width: 1px;
        border-radius: calc(v.$border-radius - 2px);
        width: 100%;
        display: flex;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;

        &::placeholder {
            color: hsl(v.$muted-foreground);
            opacity: 1;
        }

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    input {
        height: 2.25rem;
    }

    .input-password {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .password-toggle {
        min-width: 65px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.error input,
    &.error .password-toggle,
    &.error textarea {
        border-color: hsl(v.$err-background-color);
    }
}

.input__number {
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.link {
    color: hsl(v.$accent-foreground);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: hsl(v.$muted-foreground);
    }

    &::after {
        content: " ->";
        font-weight: 700;
    }
}

.gold-text-background {
    background: v.$gold;
    background-color: v.$gold;
    background-image: url("/highqualitygold.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-bg-img-1 {
    background-image: url("/border1.png");
}

.border-bg-img-2 {
    background-image: url("/border2.png");
}

.max-container {
    max-width: v.$max-content-width;
    width: 100%;
    min-width: v.$min-page-width;
}

/* || NAVBAR - GENERAL */

.primary-nav {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 14px;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    font-size: 19px;
    line-height: 1.5;
    background-color: hsl(v.$background);
    border-bottom: 1px solid hsl(v.$border-color);
    z-index: 90;

    .page-padding {
        min-width: v.$min-page-width;
        padding: 0 v.$mobile-page-padding;
    }

    .container-large {
        width: 100%;
        max-width: v.$max-content-width;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-inner {
        justify-content: space-between;
        align-items: stretch;
        display: flex;
        position: relative;

        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
        }
    }

    .mobile-menu-button {
        display: flex;
        align-items: center;

        svg {
            display: block;
            color: hsl(v.$muted-foreground);
            height: v.$primary-nav-logo-height;
            width: v.$primary-nav-logo-height;

            &:hover {
                color: hsl(v.$accent-foreground)
            }
        }

        &:active {
            transition: transform .05s;
            transform: scale(.95);
        }
    }

    .mobile-menu {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        width: 200px;
        position: absolute;
        right: 0;
        top: v.$primary-nav-height;
        background-color: hsl(v.$background);
        border: 1px solid hsl(v.$border-color);
        border-radius: calc(v.$border-radius - 2px);

        ul {
            list-style-type: none;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }

    .nav-link {
        text-decoration: none;
        color: hsl(v.$muted-foreground);
        display: flex;
        align-items: center;
        margin-left: 5px;
        padding: 12px 15px;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.1;
        transition: color .15s;
        gap: .5rem;

        p {
            position: relative;
        }

        &.logout p {
            display: flex;
            align-items: center;
            gap: .5rem;

            svg {
                height: 20px;
                width: 20px;
            }
        }

        &:hover p:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            border: solid 1px hsl(v.$accent-foreground);
            border-radius: v.$border-radius;
            animation: border_left_to_right_anim .3s linear forwards;
        }

        &.active,
        &:focus {
            color: hsl(v.$accent-foreground);
        }
    }

    .nav-logo {
        margin-left: 5px;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        font-family: "mantiniaregular";
        color: transparent;

        &:active {
            color: transparent;
        }

        img {
            height: v.$primary-nav-logo-height;
        }
    }
}

/* || Footer - GENERAL */

.footer {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid hsla(55.714, 100%, 97%, 0.1);

    .footer-content {
        display: flex;
        justify-content: center;

        a {
            color: hsl(v.$muted-foreground);
            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                color: hsl(v.$accent-foreground);
                text-decoration: underline;
            }

            &:focus {
                color: hsla(v.$elden-ring-color);
            }
        }
    }
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
    display: contents;
}

td,
th {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border-top: 1px solid hsl(v.$border-color);
    padding: 1rem;
    display: grid;
}

th {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: hsl(v.$muted-foreground);
    cursor: pointer;
    user-select: none;
}

td {
    word-wrap: break-word;
    word-break: break-all;
    color: hsl(v.$accent-foreground);
}

.table {
    font-size: 1rem;
    width: 100%;
    display: grid;
}

.table__cell a {
    color: hsl(v.$accent-foreground);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: hsl(v.$muted-foreground);
    }

    &::after {
        content: " ->";
        font-weight: 700;
    }
}

.table--filter-wrapper {
    width: 100%;

    .table--filter {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
        justify-items: center;
        gap: 1.5rem;

        .table--filter--slot {
            width: 100%;
        }
    }
}

.table--sort-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: calc(v.$border-radius - 2px);
    border: 1px solid hsl(v.$border-color);

    .table__sort {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        padding: 1rem;
        display: grid;
        cursor: pointer;
        font-weight: 500;
        color: hsl(240, 5%, 64.9%);
        cursor: pointer;
    }
}

.arrow-upward,
.arrow-downward,
.swap-vert {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.arrow-upward,
.arrow-downward {
    color: v.$gold;
}

.table--filter-text {
    padding: v.$input-padding;
    border-width: 1px;
    border-radius: calc(v.$border-radius - 2px);
    width: 100%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    &::-webkit-calendar-picker-indicator {
        display: none !important;
    }
}

.table--filter-number-wrapper {
    width: 100%;
    display: inline-flex;
    gap: .5rem;
}

.table--filter-number {
    padding: v.$input-padding;
    border-width: 1px;
    border-radius: calc(v.$border-radius - 2px);
    width: 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.table--pagination {
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    input {
        border-width: 1px;
        border-radius: calc(v.$border-radius - 2px);
        padding: 0.25rem;
        width: 4rem;
    }
}

.table--placeholder {
    display: flex;
    justify-content: center;
    grid-column: 1 / 7;
    padding: 2rem 0;
    border: 1px solid hsl(v.$border-color);
    border-bottom-left-radius: calc(v.$border-radius - 2px);
    border-bottom-right-radius: calc(v.$border-radius - 2px);

    tr,
    td {
        border: none !important;
    }
}



/* || BUTTONS - GENERAL */

.action-btn {
    position: relative;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(234 178 84);
    background-color: hsl(v.$background);
    opacity: .9;
    border: 1px solid rgb(234 178 84);
    border-radius: calc(v.$border-radius - 2px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    cursor: pointer;
    text-decoration: none;
    transition-property: filter, transform, opacity, color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .35s;

    &:not(:disabled):hover {
        filter: brightness(125%);
        opacity: 1;
    }

    &:not(:disabled)::before {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(190.82% 190.82% at 50% 100%, rgba(254, 173, 15, 1) 0%, rgba(168, 112, 64, 0.62) 18.09%);
        opacity: .2;
        filter: blur(2px);
    }

    &:not(:disabled):active {
        transition: transform .1s;
        transform: scale(.95);
    }

    &:disabled {
        cursor: default;
        opacity: .5;
        color: rgb(231, 214, 182);
        border-color: rgb(231, 214, 182);

        &::before {
            background: radial-gradient(190.82% 190.82% at 50% 100%, rgb(252, 230, 186) 0%, rgba(169, 150, 133, 0.62) 18.09%);
        }
    }
}

.button {
    height: 2.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.75rem;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: hsl(v.$muted-foreground);
    background-color: hsl(v.$background);
    border-color: hsl(v.$border-color);
    border-width: 1px;
    border-radius: calc(v.$border-radius - 2px);
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
    transition-property: color, background-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15;

    &:not(:disabled):hover {
        color: hsl(v.$accent-foreground);
        background-color: hsl(v.$accent);
    }

    &:not(:disabled):active {
        transition: transform .1s;
        transform: scale(.95);
    }

    &:disabled {
        cursor: default;
        opacity: .5;
    }
}


/* Login Page and Signup Page */

.splitpage1 {
    max-width: none;
    padding: 0;
    margin-top: v.$primary-nav-height;
    width: 100%;
    min-height: 800px;
    //height: calc(100vh - v.$primary-nav-height);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;

    .splitpage1__rightside {
        padding: 2rem; //only on lg
        max-width: 540px;
    }

    .splitpage1__wrapper {
        min-width: 200px; //min-width 640px
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .splitpage1__form-header {
        text-align: center;
        display: flex;
        flex-direction: column;

        h1 {
            letter-spacing: -.025em;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: .875rem;
            line-height: 1.25rem;
            color: hsl(v.$muted-foreground);
        }
    }

    .splitpage1__form-wrapper {
        display: grid;
        gap: 1.5rem;
        margin-top: 1.5rem;
    }
}

.splitpage1__img-wrapper {
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


/* EditAsAdmin Page */
.editasadminpage {
    min-height: 450px;
    //height: calc(100vh - v.$primary-nav-height);

    .editasadmin--form {
        width: 250px;
    }

    .editasadmin--input-wrapper {
        display: grid;
        gap: .25rem;

        label {
            line-height: 1;
            font-size: .875rem;
            font-weight: 500;
        }

        input {
            font-size: 16px;
            line-height: 1.25rem;
            padding-top: .25rem;
            padding-bottom: .25rem;
            padding-left: .75rem;
            padding-right: .75rem;
            background-color: transparent;
            border-color: hsl(v.$border-color);
            border-width: 1px;
            border-radius: calc(v.$border-radius - 2px);
            width: 100%;
            height: 2.25rem;
            display: flex;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .15s;

            &::placeholder {
                color: hsl(v.$muted-foreground);
                opacity: 1;
            }

            &:disabled {
                opacity: .5;
                cursor: not-allowed;
            }
        }
    }

    .button-wrapper {
        width: 100%;
        display: flex;
        gap: .5rem;

        button {
            flex-grow: 1;
        }
    }
}

/* UserPage */
.table--userbuilds {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.table__cell {
    &.title {
        place-content: center start;
    }

    &.level,
    &.stars,
    &.created,
    &.modified {
        place-content: center;
    }
}


/* builds */
.table--builds {
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr;
}

.table__cell {

    &.title,
    &.author {
        place-content: center start;
    }

    &.level,
    &.stars,
    &.created,
    &.modified {
        place-content: center;
    }
}

/* users */
.table--users {
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 3fr 3fr 1fr 1fr;

    td {
        padding: .7rem;
    }
}

.table__cell {

    &.username,
    &.email,
    &.roles {
        place-content: center start;
    }

    &.active,
    &.validated,
    &.created,
    &.modified,
    &.edit,
    &.delete {
        place-content: center;
    }

    &.edit svg,
    &.delete svg {
        width: 14px;
    }
}




/* MEDIA QUERIES */

@media only screen and (max-width: 849px) {

    // #root {
    //     display: block;
    // }
    .primary-nav .nav-link {
        margin-left: 0;
        padding: 18px 15px;
        font-size: 18px;
    }

    tbody tr {
        max-width: 300px;
        margin: 0 auto;
        display: block;
        border-radius: calc(v.$border-radius - 2px);
        border: 1px solid hsl(v.$border-color);
        margin-bottom: .5rem;
    }

    td {
        border: none;
    }

    .table--builds,
    .table--users,
    .table--userbuilds {
        display: block;
    }

    .table__cell {
        display: block;

        &.edit .table__cell__body,
        &.delete .table__cell__body {
            display: flex;
            justify-content: center;
        }
    }

    .table__cell__head {
        color: hsl(v.$muted-foreground);
    }

    .table__cell__body {
        overflow-wrap: break-word;
    }

    .table--filter-wrapper {
        .table--filter {
            grid-template-columns: 1fr;

            >div {
                width: 100%;
            }
        }
    }

    .table--pagination {
        flex-direction: column;

        .button-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .splitpage1 {
        min-height: 400px;
        grid-template-columns: 1fr;
        align-items: start;

        .splitpage1__rightside {
            max-width: none;
        }
    }

    .table--placeholder {
        border: none
    }
}

@media only screen and (min-width: 850px) {
    tr {

        td:first-of-type,
        th:first-of-type {
            border-left: 1px solid hsl(v.$border-color);
        }

        td:last-of-type,
        th:last-of-type {
            border-right: 1px solid hsl(v.$border-color);
        }

        &:first-of-type {
            th:last-of-type {
                border-top-right-radius: calc(v.$border-radius - 2px);
            }

            th:first-of-type {
                border-top-left-radius: calc(v.$border-radius - 2px);
            }
        }

        &:last-of-type {
            td {
                border-bottom: 1px solid hsl(v.$border-color);
            }

            td:first-of-type {
                border-bottom-left-radius: calc(v.$border-radius - 2px);
            }

            td:last-of-type {
                border-bottom-right-radius: calc(v.$border-radius - 2px);
            }
        }
    }
}